p {
    color: blue;
}
body {
    background-color: magenta;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-size: 3em;
    margin: 40px;
}
li {
    color: yellowgreen;
    font-size: 1em;
    padding: 10px;
    margin: 20px; 
}
th {
    color: gold;
    padding: 10px;
    margin: 20px;
}
td { 
    color: lime;
    padding: 20px;
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 3px solid #000fb8;
}
th {
    background-color: #15e6b1;
}
td {
    background-color: #c26b6b;
}
form {
    color: aquamarine;
    padding: 67px;
    margin: 30px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap:unset;
}
input[type="submit"] {
    background-color: green;
    color: red;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="email"] {
    background-color: aquamarine;
    border-width: 40px;
    border-color: black;
}
input[type="text"] {
    background-color: blue;
    border-width: 40px;
    border-color: black;
}
input[type="submit"]:hover {
    background-color: burlywood;
    color: burlywood;
}